// Интерактивный счетчик
.counter {
    width: 100%;
    min-height: 50vh;
    background: #171149;
    padding: 20px;
    &__wrapper {
        display: flex;
        min-height: 50vh;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__card {
        width: 280px;
        background: #3b285d;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        border-bottom: 10px solid #0072ff;
        color: #fff;
    }
    &__title {
        font-size: 20px;
        font-weight: 600;
    }
    &__num {
        font-size: 40px;
        font-weight: 700;
    }
    &__descr {
        font-size: 16px;
        font-weight: 500;
    }
}

.line-bar {
    background: #171149;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    &__item {
        width: 300px;
        color: #fff;

    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6px;
    }
    &__bg {
        width: 100%;
        height: 10px;
        border-radius: 25px;
        background-color: #d9d9d91c;
        position: relative;
    }
    &__scale {
        position: absolute;
        height: 10px;
        border-radius: 25px;
        background-color: transparent;
        top: 0;
        left: 0;
        span {
            width: 0;
            height: 100%;
            left: 0;
            top: 0;
            display: block;
            border-radius: 25px;
            background-color: #ffffff;
            transition: width 4s ease-in-out;
        }
    }
}

.circular {
    background: #171149;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    color: #fff;
    &__item {
        width: 210px;
        height: 210px;
        background: conic-gradient(#0f9ce8 3.6deg, #ededed 0deg);
        box-shadow: 0 0 8px 3px #f8f8f866;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__inner {
        width: 190px;
        height: 190px;
        background: #171149;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 5px 2px #f8f8f866;
    }
    &__value {
        font-size: 40px;
        font-weight: 500;
    }
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: #e3edf7;
    position: relative;
    &__wrapper {
        width: 160px;
        height: 160px;
        position: relative;
    }
    &__outer {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, .7);
        padding: 20px;
    }
    &__inner {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                        inset -4px -4px 10px -1px rgba(255, 255, 255, .7),
                        -0.05px -0.5px 0 rgba(255, 255, 255, 1),
                        .5px 0.5px 0 rgba(0, 0, 0, .15),
                        0 12px 10px -10px rgba(0, 0, 0, .05);
            display: flex;
            align-items: center;
            justify-content: center;
    }
    &__num {
        font-size: 20px;
        font-weight: 600;
        color: #112f81;
    }
    circle {
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px; //размер padding .circle__outer
        stroke-dasharray: 440;
        stroke-dashoffset: 0;
        animation: anim 2s linear forwards;
    }

    svg {
        position: absolute;
    }
}

@keyframes anim {
    0% {
        stroke-dashoffset: 440;
    }
    100% {
        stroke-dashoffset: 110;
        // stroke-dashoffset: 440 - 440 * .75 
    }
}