* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
}

a {
    text-decoration: none;
}
ul, ol[class] {
    list-style: none;
}

h3 {
    text-align: center;
    color: rgb(31, 29, 172);
    margin: 30px auto;
    text-transform: uppercase;
}