// анимация падения снегопада animation_1
.snow__wrap {
    width: 100%;
    height: 80vh;
    background: url('../img/animation/winter2.jpg') center center / cover no-repeat;
    position: relative;
    overflow: hidden;
}
.snow, 
.snow::after, 
.snow::before {
    content: "";
    position: absolute;
    top: -650px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
    radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff, transparent);
    background-size: 650px 650px;
    animation: snowAnim 6s linear infinite;
}

.snow::after {
    margin-left: -220px;
    opacity: .5;
    filter: blur(2px);
    animation-direction: reverse;
    animation-duration: 9s;
}
.snow::before {
    margin-left: -330px;
    opacity: .7;
    filter: blur(1px);
    animation-direction: reverse;
    animation-duration: 12s;
}

@keyframes snowAnim{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(650px);
    }
}

// анимированный фон animation_2
.field {
    background: #111;
    position: relative;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    &__wrapper {
        span {
            position: absolute;
            bottom: -180px;
            height: 50px;
            width: 50px;
            z-index: -1;
            background-color: #18191f;
            box-shadow: 0 0 50px #0072ff,
                        0 0 100px #0072ff,
                        0 0 150px #0072ff,
                        0 0 200px #0072ff;
            animation: animateBox 10s linear infinite;
            &:nth-child(1) {
                left: 60px;
                animation-delay: .6s;
            }
            &:nth-child(2) {
                left: 10%;
                animation-delay: 7s;
                width: 60px;
                height: 60px;
                box-shadow: 0 0 50px #74ddcd,
                            0 0 100px #74ddcd,
                            0 0 150px #74ddcd,
                            0 0 200px #74ddcd;
            }
            &:nth-child(3) {
                left: 20%;
                animation-delay: 2s;
                box-shadow: 0 0 50px #c266dc,
                            0 0 100px #c266dc,
                            0 0 150px #c266dc,
                            0 0 200px #c266dc;
            }
            &:nth-child(4) {
                left: 30%;
                animation-delay: 5s;
                width: 80px;
                height: 80px;
            }
            &:nth-child(5) {
                left: 40%;
                animation-delay: 1s;
            }
            &:nth-child(6) {
                left: 50%;
                animation-delay: 7s;
                box-shadow: 0 0 50px #c266dc,
                            0 0 100px #c266dc,
                            0 0 150px #c266dc,
                            0 0 200px #c266dc;
            }
            &:nth-child(7) {
                left: 60%;
                animation-delay: 4s;
                width: 100px;
                height: 100px;
                box-shadow: 0 0 50px #74ddcd,
                            0 0 100px #74ddcd,
                            0 0 150px #74ddcd,
                            0 0 200px #74ddcd;
            }
            &:nth-child(8) {
                left: 70%;
                animation-delay: 8s;
            }
            &:nth-child(9) {
                left: 80%;
                animation-delay: 2s;
                width: 90px;
                height: 90px;
                box-shadow: 0 0 50px #c266dc,
                            0 0 100px #c266dc,
                            0 0 150px #c266dc,
                            0 0 200px #c266dc;
            }
            &:nth-child(10) {
                left: 90%;
                animation-delay: 6s;
            }
        }
    }
    &__banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        z-index: 10;
    }
    &__title {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #fff;
        font-size: 80px;
        text-transform: uppercase;
        letter-spacing: 12px;
    }
}

@keyframes animateBox {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        opacity: .7;
    }
    100% {
        bottom: 0;
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

// Трехцветный слайдер animation-3
.colors-fields {
    width: 100%;
    height: 100vh;
    .colors-field {
        width: calc(100% / 3);
        height: 100vh;
        overflow: hidden;
        cursor: pointer;
        float: left;
        transition: all .6s ease-in-out;
        h4::before {
            content: "";
            display: block;
            top: 50%;
            width: 200px;
            height: 200px;
            position: absolute;
            transform: rotate(350deg) translateY(-50%);
            transition: all 1.5s;
        }
        &__blue {
            background: #3d97e6;
            h4::before {
                background: url('../../img/animation/blade.png') center center / contain no-repeat;
            }
        }
        &__red {
            background: #ec5f5f;
            h4::before {
                background: url('../../img/animation/argenty.png') center center / contain no-repeat;
            }
        }
        &__yellow {
            background: #f7d35c;
            h4::before {
                background: url('../../img/animation/jzin.png') center center / contain no-repeat;
            }
        }
        &__title {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 120px;
            font-weight: 700;
            text-transform: uppercase;
            overflow: hidden;
            position: relative;
            color: #fff;
            white-space: nowrap;
            transition: all 1.5s ease-in-out;
        }
    }
    .colors-field_active {
        width: 100%;
        .colors-field__title {
            font-size: 80px;
            transform: translateY(20%);
            &::before {
                top: 5%;
                transform: rotate(370deg) scale(1.3);
            }
        }
    }
    .colors-field_no-active {
        width: 0;
    }
}

.animation-4 {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    background: #171149;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    &__card {
        position: relative;
        width: 240px;
        height: 240px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .5s;
        &:hover {
            transform: rotate(-15deg);
            .animation-4__content {
                transform: rotate(20deg);
                scale: 1;
                opacity: 1;
            }
        }
    }
    &__img {
        position: absolute;
        inset: 0;
        border-radius: 12px;
        border: 4px solid rgba(0, 0, 0, .2);
        img {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .5s;
            &:hover {
                opacity: .5;
            }
        }
    }
    &__content {
        position: absolute;
        inset: 0;
        background: linear-gradient(#fff2, transparent);
        border: 1px solid rgba(255, 255, 255, .1);
        box-shadow: 0 25px 25px rgba(0, 0, 0, .25);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-direction: column;
        padding: 20px;
        transition: all .5s;
        scale: 0;
        opacity: 0;
    }
    &__title, &__text {
        display: block;
        width: 100%;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__title {
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: .1em;
        margin-bottom: 12px;
        font-weight: 700;
    }
    &__text {
        font-size: 1rem;
        text-align:left;
        line-height: 160%;
        span {
            font-style: italic;
            font-weight: 700;
        }
    }
}

// Интерактивный счетчик
.counter {
    width: 100%;
    min-height: 50vh;
    background: #171149;
    padding: 20px;
    &__wrapper {
        display: flex;
        min-height: 50vh;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__card {
        width: 280px;
        background: #3b285d;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        border-bottom: 10px solid #0072ff;
        color: #fff;
    }
    &__title {
        font-size: 20px;
        font-weight: 600;
    }
    &__num {
        font-size: 40px;
        font-weight: 700;
    }
    &__descr {
        font-size: 16px;
        font-weight: 500;
    }
}